.App {
  background-color: white;
  margin-left: 50;
  padding: 50px;
  padding-left: 70px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
} */

.App-link {
  color: #61dafb;
}
.nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0.4rem;
  color: #000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo p {
  margin-left: 1rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list ul {
  display: flex;
  list-style-type: none;
}

.list li {
  margin-right: 1rem;
  font-weight: bold;
}

.list li {
  color: #fff;
  text-decoration: none;
}
.hero{
  padding-top: 70px;
}
.hero h1{
  font-size: 5rem;
  padding-bottom: 20px;
}
.hero h3{
  padding-top: 10px;
  font-size: 1.8rem;
}
.hero p{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.Contact{
  display: flex;

}
.Contact a {
  padding: 20px;
}

@media (max-width: 768px) {
  .list{
    display: none !important;
  }
  .hero h1{
    font-size: 48px;
  }
  .hero .Contact{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .list{
    display: none !important;
  }
  .hero h1{
    font-size: 35px;
  }
  .hero p{
    font-size: 20px;
  }
  .hero .Contact{
    display: flex;
    flex-direction: column;
  }
  .nav p{
    font-size: 10px;
    line-height: 14px;
  }
}