.App {
  background-color: white;
  margin-left: 50;
  padding: 50px;
}

/* .App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
} */

.App-link {
  color: #61dafb;
}
.logo{
  display: flex;
}
.logo .name{
  font-size: 20px;
  /* font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal; */

}
.logo p{
  padding-left: 20px;
  padding-top: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.logo img {
  width: 5%;
  height: 3%;
  border-radius: 20px;
  float: start;
  
}


